@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(238, 231, 231);
  padding: 0.5rem; 
}

.items{
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin: 1rem auto;
  background-color: #fff;
  width:92%;
  height: 25%;
}
.details{
  background-color: #fff;
  width:92%;
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  margin: 1rem auto;
  padding: 2rem;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 45px;
}
.card{
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  margin: 1rem;
  padding: 0.6rem 2rem 1rem;
}
.main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-details{
  width: 60%;
}
.item-description{
  width: 200px;
}
.pages{
  margin: 1rem auto;
  width: 300px;
}
